<div class="col-lg-4">
    <div class="card text-center">
    <div class="card-header">
        <strong>@Recipe.Name</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Price per glass: @Recipe.PricePerGlass</h5>
        <hr>
        <h5 class="card-title">Fruits per glass: @Recipe.ConsumptionPerGlass</h5>
    </div>
    <div class="card-footer text-muted">
        Total sold: 2
    </div>
    </div>
</div>

